{
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "node": true
  },
  "rules": {
    "max-len": [
      2,
      {
        "code": 80,
        "ignoreUrls": true
      }
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "semi": [
      2,
      "never"
    ],
    "no-var": [2],
    "no-unused-vars": [2]
  }
}