{
  "extends": [
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "max-len": [2, 80],
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "comma-dangle": [2, "always"],
    "semi": [2, "never"],
    "prettier/prettier": "error"
  }
}